:root {
  --blue: #2196f3;
  --grey: #757575;
  --blue-button: #188ce8;
  --primery-text-color: #212121;
  --white-color: #ffffff;
  --dark-grey: #2f303a;
  --bg-ylight-gra: #f5f4fa;
  --border-light-gra: #ececec;
  --grayish-blue: #afb1b8;
  --primery-white-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", tahoma, sans-serif;
  color: var(--primery-text-color);
}
.list {
  text-decoration: none;
}
.link {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*--------------------------------------------- headr -----------------------------------------------*/
.header{
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: flex;
  align-items: center;
}

.headr-logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
}
.headr-colortext {
  color: var(--primery-text-color);
}


.headr-list {
  display: flex;
}

.headr-item{
  display: block;
}

.headr-item:not(:last-child) {
  margin-right: 50px;
}

.headr-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.headr-link:hover,
.headr-link:focus {
  color: var(--blue);
}
.current {
  color: var(--blue);
}
.contact {
  margin-left: auto;
}

.headr-mail-item + .headr-mail-item {
  margin-left: 50px;
  /* padding-top: 32px;
  padding-bottom: 32px; */
}

.headr-tel-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--grey);
}
.headr-mail-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
}
.headr-tel-link:focus {
  color: var(--blue);
}

.headr-mail-link:focus,
.headr-mail-link:hover {
  color: var(--blue);
}
/* -----------------------------------------------hero-------------------------------------------------- */

.hero{
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--dark-grey);
}

.hero-title {
  margin-bottom: 30px;
  display: inline-block;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  background: var(--blue);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
}
.hero-btn:hover {
  background: var(--blue-button);
}
/* ---------------------------------------------description ------------------------------------------------- */
.description {
  padding-top: 94px;
  padding-bottom: 0px;
}

.description-list{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.description-item{
  width: 270px;
}

.description-item:not(:last-child){
  margin-right: 30px;
}

.description-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
  margin-bottom: 10px;
}
.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}
/* ------------------------------------------------our-works--------------------------------------------------- */
.our-works {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-works-main-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 50px;
}

.our-works-list{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.our-works-link:not(:last-child){
  margin-right: 30px;
}




/* ---------------------------------------------------our-team----------------------------------------------- */
.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--bg-ylight-gra)
}

.our-team-main-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 50px;
}

.our-team-list{
  display: flex;
}

.our-team-link:not(:last-child){
  margin-right: 30px;
}

.our-team-div{
  padding-top: 30px;
  padding-bottom: 30px;

}


.our-team-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.our-team-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--grey);
}
/* -------------------------------------------------footer-------------------------------------------------- */

.footer {
  background: var(--dark-grey);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
}
.footer-colortext {
  color: var(--white-color);
}
.footer-address {
  margin-top: 20px;
  font-style: normal;
}
.footer-address-link {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-mail-link {
  margin-top: 9px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}

.footer-tel-link {
  margin-top: 9px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}
/* ----------------------------------------------portfolio-------------------------------------------- */
.portfolio{
  padding-top: 94px;
  padding-bottom: 94px;
}

.container{
  margin-right: auto;
  margin-left: auto;

}

.navigation-list{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.navigation-item{
  display: block;

}


.navigation-item:not(:last-child){
  margin-right: 8px;
}

.navigation-btn {
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background: var(--bg-ylight-gra);
  border-radius: 4px;
}
.navigation-btn:hover,
.navigation-btn:focus {
  color: var(--white-color);
  background: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item{
  /* border: 1px solid #EEEEEE;
  box-sizing: border-box;    */
  flex-basis: calc(100% / 30px - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-div{
  /* background-color: aqua; */
  /* outline: 1px solid #188ce8; */
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}
.portfolio-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
